<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% extends 'base.html' %}
    <title>{% block title %}{{ post.título }}{% endblock%}</title>
</head>

<body>

    {% block content %}
    <h1>{{post.título}}</h1>
    <sma11>
        Por {{ post.autor.first_name }} {{post.autor.last_name }} <br>
        Publicado em {{post.data_postagem|date:"d/m/Y H:i"}}</small>
        <br />
        <hr>
        {{ post.corpo|safe }}



        {% if user.is_authenticated %}
        {% if user.id == post.autor.id%}
        

        <br /><br />
        <a href="{% url 'home' %}" class="btn btn-outline-dark">Retornar</a> <a href="{% url 'update_post' post.pk %}" ,
            class="btn btn-outline-warning">Editar</a> 
            <a href="{% url 'delete_post' post.pk %}" ,
            class="btn btn-outline-danger">Excluir</a>
        <br><br />


        {% endif %}
        {% endif %}

        <hr>
        <h2>Categorias</h2>
        {% for Category in post.Category.all %}
        <a href="{% url 'Category' Category.type %}" class="btn btn-outline-success">{{ Category.type }}</a>
        {% endfor %}








        {% endblock %}
</body>

</html>