<!DOCTYPE html>
<html lang="en">

<head>
    <!-- … -->
    <!-- Adicione a biblioteca de ícones -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Adicione o estilo CSS para as estrelas -->
    <style>
        .estrelas {
            display: flex;
            flex-direction: row-reverse;
            justify-content: flex-end;
        }

        .estrelas input {
            display: none;
        }

        .estrelas label {
            font-size: 30px;
            color: gray;
            cursor: pointer;
        }

        .estrelas label:hover,
        .estrelas label:hover ~ label,
        .estrelas input:checked ~ label {
            color: rgb(255, 191, 72);
        }
    </style>
</head>

<body>
    {% extends 'base.html' %}
    {% block content %}
    <form method="post">
        {% csrf_token %}
        <label for="nota">Deixe sua avaliação:</label>
        <div class="estrelas">
            <input type="radio" id="star1" name="nota" value="1" required />
            <label for="star1" class="fa fa-star"></label>
            <input type="radio" id="star2" name="nota" value="2" required />
            <label for="star2" class="fa fa-star"></label>
            <input type="radio" id="star3" name="nota" value="3" required />
            <label for="star3" class="fa fa-star"></label>
            <input type="radio" id="star4" name="nota" value="4" required />
            <label for="star4" class="fa fa-star"></label>
            <input type="radio" id="star5" name="nota" value="5" required />
            <label for="star5" class="fa fa-star"></label>
        </div>
        <input type="submit" value="Enviar sua avaliação">
    </form>

    {% endblock %}
</body>

</html>
