{% extends 'base.html' %}   
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <title>Editando Post</title>
</head>
<body>

    {% block content %}
    <h1>Editando o seu post</h1>
    <br/><br/>
    
    <div class="form-group">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
    </div>
    <button class="btn btn-dark">Editar</button>
    

    {% endblock %}
</body>
</html>