{% extends 'base.html' %}   
{% block title %}{% if form.instance.pk %}Editar{% else %}Criar{% endif %} Perfil{% endblock %}

{% block content %}

<style>
html {
  scroll-behavior: smooth;
}
.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.form-group button {
  margin-top: 20px;
}
</style>

<h1>{% if form.instance.pk %}Editando{% else %}Criando{% endif %} Perfil</h1>
<br/><br/>

<div class="form-group">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-dark">{% if form.instance.pk %}Editar{% else %}Criar{% endif %} Perfil</button>
    </form>
</div>

{% endblock %}
