<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ContratAqui</title>
</head>
<body>
    {% extends 'base.html' %}
    {% block content %}
        <h1>Editar Serviço: {{ servico.nome }}</h1>
    
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-dark">Salvar Mudanças</button>
        </form>
    {% endblock %}
</body>
</html>