<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ContratAqui</title>
</head>
<body>
    {% extends 'base.html' %}
    {% block content %}
    <h1>Lista de Conversas para {{ usuario.username }}</h1>

    <h2>Conversas em que você é o autor:</h2>
    <ul>
        {% for sala in salas_autor %}
        <li>
            {{ sala.servico.nome }} -
            {% for cliente in sala.clientes.all %}
                {% if cliente != usuario %}
                Cliente: {{ cliente.first_name }}
                <form action="{% url 'conversas' sala.servico.pk cliente.username sala.servico.autor.username %}">
                    <button type="submit">Abrir Conversa</button>
                </form>
                {% endif %}
            {% endfor %}
            <!-- Adicionando botão para listar propostas -->
            <form action="{% url 'listar_propostas' sala.servico.pk %}">
                <button type="submit">Listar Propostas</button>
            </form>
        </li>
        {% endfor %}
    </ul>

    <h2>Conversas em que você é o cliente:</h2>
    <ul>
        {% for sala in salas_cliente %}
        <li>
            <form action="{% url 'conversas' sala.servico.pk usuario.username sala.servico.autor.username %}">
                <button type="submit">{{ sala.servico.nome }} - Autor do Serviço: {{ sala.servico.autor.first_name }}</button>
            </form>
            <!-- Adicionando botão para listar propostas -->
            <form action="{% url 'listar_propostas' sala.servico.pk %}">
                <button type="submit">Listar Propostas</button>
            </form>
        </li>
        {% endfor %}
    </ul>
    {% endblock %}
</body>
</html>