<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ContratAqui</title>
</head>
<body>
    {% extends 'base.html' %}
    {% block content %}
        <h1>{{ servico.nome }}</h1>
    
        <p><strong>Nome:</strong> {{ servico.nome }}</p>
        <p><strong>Prestador de Serviço:</strong> {{ servico.autor }}</p>
        <p><strong>Descrição:</strong> {{ servico.descricao }}</p>
    
        {# Adicione um link para atualização e exclusão do serviço se necessário #}
        {% if user.is_authenticated and user == servico.autor %}
            <a href="{% url 'servico-update' pk=servico.pk %}">Editar Serviço</a>
            <a href="{% url 'servico-delete' pk=servico.pk %}">Deletar Serviço</a>
        {% endif %}
    {% endblock %}
</body>
</html>