<!DOCTYPE html>
<html lang="en">

<head>
  <!-- ... -->
</head>

<body>
  {% extends 'base.html' %}
  {% block content %}
  <h1>{{ servico.nome }}</h1>

  <p><strong>Serviço Prestado:</strong> {{ servico.nome }}</p>
  <p><strong>Prestador de Serviço:</strong> {{ servico.autor.first_name }} {{ servico.autor.last_name }}</p>
  <p><strong>Descrição:</strong> {{ servico.descricao }}</p>
  <p><strong>Preço:</strong> R${{ servico.preco }}</p>

  {% if not user.is_authenticated or user != servico.autor %}
  <form action="{% url 'conversas' servico_id=servico.id username=request.user.username autor_username=servico.autor.username %}" method="post">
    {% csrf_token %}
    <button type="submit">ContratAqui</button>
  </form>
{% else %}
  <a href="{% url 'servico-update' pk=servico.pk %}" class="btn btn-primary">Editar</a>
  <form action="{% url 'servico-delete' pk=servico.pk %}" method="post" style="display: inline;">
    {% csrf_token %}
    <input type="hidden" name="action" value="delete">
    <button type="submit" class="btn btn-danger">Excluir</button>
  </form>
  {% endif %}

  <br><br><br>
  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-2">
        <img src="{{servico.autor.perfil.foto_de_perfil.url}}" class="img-fluid rounded-start">
      </div>
      <div class="col-md-10">
        <div class="card-body">
          <h5 class="card-title">Prestador: {{ servico.autor.first_name }} {{ servico.autor.last_name }}</h5>

          {% if servico.autor.perfil.telefone %}
          <span class="card-text"><small
              class="text-body-secondary"><strong>Telefone:</strong> {{servico.autor.perfil.telefone}} </small></span>
          {% endif %}

          {% if servico.autor.perfil.whatsapp %}
          <span class="card-text"><small
              class="text-body-secondary"><strong>Whatsapp:</strong> {{servico.autor.perfil.whatsapp}} </small></span>
          {% endif %}

          {% if servico.autor.perfil.instagram %}
          <span class="card-text"><small
              class="text-body-secondary"><strong>Instagram:</strong> {{servico.autor.perfil.instagram}} </small></span>
          {% endif %}

          {% if servico.autor.perfil.bio %}
          <p class="card-text">Bio: {{ servico.autor.perfil.bio }}</p>
          {% endif %}

          {% if servico.autor.perfil.dias_de_trabalho %}
          <span class="card-text"><small
            class="text-body-secondary"><strong>Dias de Trabalho:</strong>
          {% for dia in servico.autor.perfil.dias_de_trabalho.all %}
           {{ dia }} |
          {% endfor %}</small></span>
          {% endif %}

          {% if servico.autor.perfil.horario_entrada %}
          <span class="card-text"><small
            class="text-body-secondary"><strong>Horário de Entrada:</strong> {{ servico.autor.perfil.horario_entrada|time:"H:i" }}</small></span>
          {% endif %}

          {% if servico.autor.perfil.horario_saida %}
          <span class="card-text"><small
            class="text-body-secondary"><strong>Horário de Saída:</strong> {{ servico.autor.perfil.horario_saida|time:"H:i" }}</small></span>
          {% endif %}

        </div>
      </div>
    </div>
  </div>
  {% endblock %}
</body>

</html>