<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ContratAqui</title>
</head>
<body>
    {% extends 'base.html' %}
    {% block content %}
        <h1>Tem certeza que deseja excluir "{{ servico.nome }}"?</h1>
    
        <form method="post">
            {% csrf_token %}
            <button class="btn btn-dark" name="confirm" value="yes">Sim</button>
            <a href="{% url 'servico-detail' pk=servico.pk %}"><button type="button" class="btn btn-dark">Não</button></a>
        </form>
    {% endblock %}
</body>
</html>